<%- include('./partials/head.ejs') %>
<section class="header-primair">
	<nav>   
		<img src="images/plantswap-logo-green.png" alt="Logo PlantSwap">
			<ul>
				<li><a href="/index2">Over Ons</a></li>
				<li><a href="/index2">Stekjes</a></li>
				<li><a href="/index2#contact">Contact</a></li>
				<li><a href="/newStekje">Stekje Aanmelden</a></li>
			</ul>   
	</nav>
</section>
<section class="sign-up-plant-contain" id="stekje aanmelden">
	<form class="sign-up-form" action="/newStekje" method="post">
		<svg class="blue-points" 
              width="8" height="144" viewBox="0 0 8 144" fill="none" xmlns="http://www.w3.org/2000/svg">
              <ellipse cx="2" cy="5.5" rx="6" ry="5.5" fill="#333467"/>
              <circle cx="2" cy="32" r="6" fill="#333467"/>
              <ellipse cx="2" cy="58.5" rx="6" ry="5.5" fill="#333467"/>
              <circle cx="2" cy="85" r="6" fill="#333467"/>
              <ellipse cx="2" cy="111.5" rx="6" ry="5.5" fill="#333467"/>
              <circle cx="2" cy="138" r="6" fill="#333467"/>
          </svg>
		<div class="person-facts">
			<h2>Stekje Aanmelden</h2>
			<h3>Persoonlijke Gegevens</h3>
			<p>Vul hieronder je persoonlijke gegevens in.</p>

			<label for="naam">Naam</label>
			<input type="text" id="name" placeholder="Uw naam"/>

			<label for="email">E-mailadres</label>
			<input type="text" id="email" placeholder="Uw e-mailadres"/>
		
		</div>
		<div class="plant-facts">
			<h3>Gegevens Stekje</h3>
			<p>Vul hieronder de gegevens van je stekje in.</p>	
				<label for="naam">Naam</label>
				<input type="text" name="naam" placeholder="De naam van je stekje..." value="<%= locals.naam ?? '' %>" />

				<label for="landvanherkomst">Land van herkomst</label>
				<input type="text" name="landvanherkomst" placeholder="Het land van herkomst..." value="<%= locals.landvanherkomst ?? '' %>" />

				<label for="giftig">Giftig</label>
				<input type="text" name="giftig" placeholder="Geef aan of het stekje giftig is..." value="<%= locals.giftig ?? '' %>" />

				<label for="verpotten">Verpotten</label>
				<input type="text" name="verpotten" placeholder="Geef aan of het stekje verpot moet worden..." value="<%= locals.verpotten ?? '' %>" />

				<label for="voeding">Voeding</label>
				<input type="text" name="voeding" placeholder="Geef aan wat het stekje nodig heeft..." value="<%= locals.voeding ?? '' %>" />

				<label for="fotos">Upload een foto van je stekje</label>
				<input type="text" name="fotos" placeholder="..." value="<% locals.fotos ?? '' %>" />
					<!-- <label class="custom-file-upload"> 
					<svg width="100" height="77" viewBox="0 0 115 92" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M33.3699 45.4357C35.3121 41.858 37.2579 38.2843 39.2073 34.7147C39.6353 33.818 40.2766 33.0399 41.075 32.4486C41.8735 31.8572 42.8048 31.4708 43.7874 31.3229C44.8605 31.2032 45.9418 31.175 47.0196 31.2386C47.1631 31.249 47.3031 31.2879 47.4314 31.353C47.5597 31.418 47.6738 31.508 47.767 31.6176C47.8602 31.7272 47.9307 31.8543 47.9742 31.9914C48.0178 32.1285 48.0337 32.2729 48.0209 32.4162C48.0043 32.7036 47.8794 32.9741 47.6715 33.1732C47.4635 33.3724 47.1879 33.4854 46.9 33.4895C46.0828 33.5156 45.2609 33.4788 44.4467 33.5447C43.8242 33.5765 43.2206 33.7692 42.6949 34.1041C42.1692 34.439 41.7394 34.9045 41.4475 35.4553C39.816 38.4131 38.2275 41.3954 36.6267 44.3701C36.6007 44.4406 36.5817 44.5135 36.57 44.5878H37.0974C40.0936 44.5878 43.0912 44.6016 46.0874 44.5786C46.4105 44.549 46.7343 44.6287 47.0067 44.805C47.2792 44.9812 47.4846 45.2438 47.59 45.5507C48.1436 46.8234 48.7431 48.0746 49.3258 49.335C49.6375 50.1085 50.1835 50.7651 50.8871 51.2128C51.5908 51.6604 52.4168 51.8767 53.2496 51.8313C55.752 51.8251 58.2564 51.8251 60.7629 51.8313C61.5869 51.874 62.4037 51.6589 63.0998 51.2159C63.7958 50.7729 64.3366 50.1241 64.6468 49.3595C65.2356 48.0853 65.8367 46.8173 66.404 45.5262C66.5092 45.2273 66.7107 44.9717 66.9768 44.7996C67.243 44.6276 67.5587 44.5487 67.8745 44.5755C70.9948 44.597 74.1152 44.5847 77.2278 44.5847H77.8044C77.7277 44.3961 77.6786 44.2581 77.6173 44.1247C76.3906 41.4302 75.164 38.7356 73.9373 36.041C73.6253 35.251 73.0721 34.5795 72.3563 34.1222C71.6405 33.6649 70.7986 33.4451 69.9506 33.4941C69.0552 33.4941 68.1582 33.5049 67.2627 33.4834C66.9824 33.4741 66.7156 33.3607 66.5144 33.1654C66.3131 32.9701 66.1918 32.7068 66.174 32.4269C66.158 32.2838 66.1708 32.139 66.2119 32.001C66.253 31.8629 66.3214 31.7346 66.4131 31.6236C66.5048 31.5126 66.618 31.4211 66.7457 31.3547C66.8735 31.2883 67.0133 31.2483 67.1569 31.2371C68.6499 31.1687 70.1461 31.2256 71.6296 31.4073C72.6085 31.5892 73.5247 32.0184 74.2909 32.6542C75.0571 33.29 75.648 34.1112 76.0073 35.0397C77.4624 38.2229 78.8915 41.4184 80.3834 44.5863C80.6965 45.2523 80.8503 45.9819 80.8327 46.7176C80.8143 49.9453 80.8327 53.1729 80.822 56.4021C80.8492 58.476 80.138 60.4921 78.8156 62.0898C77.4931 63.6876 75.6455 64.763 73.603 65.1237C72.9788 65.2268 72.3467 65.275 71.714 65.2679C61.9666 65.2771 52.2192 65.2295 42.4733 65.2924C40.2846 65.3502 38.1517 64.597 36.4847 63.1775C34.8176 61.7581 33.7339 59.7727 33.442 57.6027C33.4245 57.5288 33.3982 57.4573 33.3638 57.3896L33.3699 45.4357Z" fill="#9B9B9B"/>
						<path d="M57.2853 20.5957C57.6395 20.8334 58.0152 21.0435 58.3434 21.3103C60.1772 22.8007 62.0019 24.3018 63.8174 25.8137C64.0823 26.0403 64.2836 26.332 64.4015 26.6601C64.4658 26.8773 64.4554 27.1099 64.3721 27.3206C64.2887 27.5312 64.1371 27.7079 63.9416 27.8223C63.7262 27.9637 63.47 28.0294 63.2132 28.0091C62.9564 27.9889 62.7137 27.8838 62.5232 27.7104C61.4315 26.8257 60.3505 25.9287 59.2633 25.0363C58.9567 24.7863 58.65 24.5379 58.2467 24.2113V24.8645C58.2467 29.4512 58.2467 34.0385 58.2467 38.6262C58.2787 38.8637 58.245 39.1055 58.1493 39.3253C58.0537 39.545 57.8996 39.7344 57.704 39.8728C57.5453 39.9764 57.3629 40.0383 57.174 40.0525C56.985 40.0668 56.7954 40.033 56.623 39.9544C56.4505 39.8757 56.3008 39.7547 56.1877 39.6027C56.0745 39.4506 56.0017 39.2724 55.9759 39.0847C55.9557 38.885 55.9485 38.6842 55.9544 38.4836C55.9544 33.9276 55.9544 29.3715 55.9544 24.8155V24.2297C55.7842 24.3447 55.6723 24.4076 55.5726 24.4873C54.2979 25.5096 53.0242 26.5379 51.7515 27.5724C51.6088 27.6896 51.4547 27.7924 51.2916 27.8791C51.0639 27.9984 50.8019 28.0351 50.5502 27.9828C50.2985 27.9305 50.0728 27.7925 49.9115 27.5923C49.7447 27.3875 49.6536 27.1313 49.6536 26.8671C49.6536 26.6028 49.7447 26.3467 49.9115 26.1418C50.0227 26.0138 50.146 25.8967 50.2795 25.7922C52.2351 24.2078 54.1936 22.6269 56.1553 21.0496C56.4217 20.8716 56.7034 20.7177 56.9971 20.5896L57.2853 20.5957Z" fill="#9B9B9B"/>
					</svg>                                                                          -->
				</label>
				<button id="send-button" type= "submit" value="default">Verzenden</button>
		</div>	
	</form>
	<svg class="blue-points-stroke-3"
            width="51" height="168" viewBox="0 0 51 168" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M55 1H6V168" stroke="#4E7141" stroke-width="2"/>
            <circle cx="6" cy="46" r="6" fill="#333467"/>
            <circle cx="6" cy="82" r="6" fill="#333467"/>
            <circle cx="6" cy="119" r="6" fill="#333467"/>
        </svg>
</section>

<%- include('./partials/foot.ejs') %>
